<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <!-- links -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/b29db1d018.js" crossorigin="anonymous"></script>
</head>
<body>

    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" class="logo">
            <form action="" method="post" class="search-bar">
                <input type="search" name="" placeholder="Buscar productos, marcas">
                <button type="submit"> <i class="fa-solid fa-magnifying-glass"></i> </button>
            </form>
            <h2 class="header-text">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <nav class="main-header-bottom-bar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="#">Crea tu cuenta <i class="fa-solid fa-id-card"></i> </a></li>
                <li><a href="#">Ingresa <i class="fa-solid fa-right-to-bracket"></i> </a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i> </a></li>
            </ul>
        </nav>

        <a href="#" class="hamburger-button"> <i class="fa-solid fa-bars"></i> </a>

    </header>

    <main class="main-products">
        <div>
            <h2 class="titles">Basado en tu ultima visita</h2>
            <article class="product">
                <img src="/images/img-macbook-pro-2019.jpg" alt="">
                <p>Precio</p>
                <p>Descuento</p>
                <h2>Macbook Pro 2019</h2>
            </article>
            <article class="product">
                <img src="/images/img-cafetera-moulinex.jpg" alt="">
                <p>Precio</p>
                <p>Descuento</p>
                <h2>Cafetera moulinex</h2>
            </article>
        </div>

        <div>
            <h2 class="titles">Ofertas</h2>
            <article class="product">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <p>Precio</p>
                <p>Descuento</p>
                <h2>Samsung galaxy S10</h2>
            </article>
            <article class="product">
                <img src="/images/img-tv-samsung-smart.jpg" alt="">
                <p>Precio</p>
                <p>Descuento</p>
                <h2>Samsung smart TV</h2>
            </article>
        </div>
    </main>

    <footer>

    </footer>
</body>
</html>