*{
    box-sizing: border-box;
}

.main-header{
    background-color: #eac926;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.logo{
    width: 100px;
}

.header-text{
    font-weight: 400;
    text-align: center;
    font-size: 18px;
}

.hamburger-button{
    background-color: #03264c;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-header-bottom-bar ul{
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
}

.main-header-bottom-bar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    font-size: 18px;
}

main{
    margin-top: 361px;
}

.titles{
    text-align: left;
    font-weight: lighter;
    margin: 0 0 0 10px;
}

.product{
    padding: 0 15px;
    border: solid 1px black;
    border-radius: 8px;
    margin: 10px;
}

.product img{
    width: 100%;
    border-bottom: solid 0.5px #000000;
    margin-bottom: 5px;
}

.product h2{
    text-align: center;
    background-color: rgba(3, 144, 252, 0.5);
}

footer{
    background-color: #e1e2e3;
}

.info-container{
    padding: 0 15px 0 15px;
    text-align: center;
}

.info-container h2{
    margin: 0;    
    padding-top: 15px;
    text-align: center;
}

.info-container p{
    padding: 5px;
    margin: 0;
}

.copyright{
    text-align: left;
    font-size: 10px;
    margin: 0;
    padding: 10px;
    bottom: 0;
}